@font-face {
    font-family: Kanit;
    src: url('/resources/fonts/kanit/Kanit-Bold.ttf');
}

.image-stackpane {
    -fx-background-image: url("/resources/images/Triangle.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1024;
    -fx-background-position: right center;
}

.label {
    -fx-font-family: Kanit;
    -fx-text-fill: #893F04;
    -fx-font-size: 120px;
    -fx-padding: -30px;
}
